$dark-grey: #5a5a5a;
$grey: #949494;
$light-grey: #c9c9c9;
$shadow-light-grey: #c1c1c1;
$very-light-grey: #f0f0f0;
$white: #ffffff;
$black: #000;
$darkee: #22222a;
$blue: #20536f;
$light-green: #83936a;
$success-green: #c6efcd;
$dark-green: #1d343d;
$error: red;
$error-bg: rgb(214, 181, 181);
