/** Text **/

$jumbo-text: 45px;
$extra-large-text: 18px;
$large-text: 16px;
$medium-text: 14px;
$small-text: 12px;
$very-small-text: 10px;

/** Padding **/

$very-small-space: 3px;
$small-space: 5px;
$medium-space: 10px;
$large-space: 15px;
$extra-large-space: 25px;
$jumbo-space: 80px;
$responsive-small-space: 5%;
$responsive-medium-space: 10%;
$responsive-large-space: 20%;

/** Border Radius **/

$very-small-radius: 3px;
$small-radius: 5px;
$medium-radius: 10px;
$large-radius: 20px;
$quarter-radius: 25%;
$half-radius: 50%;
